<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Transaction Complete!</h1>
    <p>
      You have successfully purchased <%= @game.title %>!
      <br />
      We hope you enjoy it!
    </p>
    <p>
      Your purchase total is <%= @game.price %>
    </p>
    <p>Thank you for your purchase, have a great day!</p>
  </body>
</html>
