<p id='title'>
  Welcome to DevSiteAlpha's dedicated help service!
</p>
<p id='description'>
  If you've run into a problem, or you've found a bug, please let us know!
  You can use the link on this page to contact us.
</p>
