<p id="notice"><%= notice %></p>

<div id="transaction-complete" class="flex-container">
  <h1>
    Thank you for your purchase!
  </h1>
  <p>
    We hope you enjoy your game!
  </p>
</div>

<br>

<%= link_to 'Back to store page', game_path($game) %>
